/*
 * SAMSUNG EXYNOS990 board device tree source
 *
 * Copyright (c) 2019 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/plugin/;
#include "exynos990-c2s_pm_18.dtsi"
#include "exynos990-c2s_common.dtsi"
#include "exynos_gpio_config_macros.dtsi"
#include "exynos990-c2s_nfc_00.dtsi"
#include "../exynos/exynos9830-universal9830-cp-s5123-sipc.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include "exynos9830-sensorhub_03.dtsi"
#include "exynos990-c2s_sensor_18.dtsi"
#include "exynos990-c2s_fingerprint_18.dtsi"
#include "battery_data_c2_18.dtsi"
#include "exynos990-c2s_uwb_16.dtsi"

#define BOARD_ID	0x10
#define BOARD_REV	0x0

/ {
	compatible = "samsung,C2S EUR OPENX 18", "samsung,EXYNOS990";
	dtbo-hw_rev = <18>;
	dtbo-hw_rev_end = <18>;
	edtbo-rev = <0>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung C2S EUR OPENX 18 based on EXYNOS990";

			acpm_ipc {
				compatible = "samsung,exynos-acpm-ipc";
				board-id = <BOARD_ID>;
				board-rev = <BOARD_REV>;
			};

			pinctrl@15850000 {
				bt_hostwake: bt-hostwake {
					samsung,pins = "gpa2-3";
					samsung,pin-function = <0xF>;
					samsung,pin-pud = <1>;
				};
			};

			pinctrl@10730000 {
				bt_btwake: bt-btwake {
					samsung,pins = "gpg1-1";
					samsung,pin-function = <1>;
					samsung,pin-pud = <0>;
					samsung,pin-con-pdn = <3>;
					samsung,pin-pud-pdn = <0>;
				};
			};

			pinctrl@15C30000 {
				bt_en: bt-en {
					samsung,pins = "gpm16-0";
					samsung,pin-function = <1>;
					samsung,pin-pud = <0>;
					samsung,pin-con-pdn = <3>;
					samsung,pin-pud-pdn = <0>;
				};
			};

			bluetooth {
				compatible = "samsung,bcm43xx";
				gpios = <&gpm16 0 GPIO_ACTIVE_HIGH    /*BT_EN*/
				&gpg1 1 GPIO_ACTIVE_HIGH    /*BT_WAKE*/
				&gpa2 3 GPIO_ACTIVE_HIGH    /*BT_HOST_WAKE*/ >;
				pinctrl-names = "default";
				pinctrl-0=<&bt_en &bt_hostwake &bt_btwake>;
				status = "okay";
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */

	fragment@camera {
		target-path = "/";
		__overlay__ {
			/* REAR CAMERA */
			is_sensor_hm1: is_sensor_hm1@20 {
				mcu {
					product_name = <100>; /* NOTHING */
				};

				power_seq {
					scenario_normal_on {
						30 { pname = "VDDA_2.8V_CAM"; pin = <PIN_REGULATOR 1 0>; gpio;};
					};

					scenario_vision_on {
						30 { pname = "VDDA_2.8V_CAM"; pin = <PIN_REGULATOR 1 0>; gpio;};
					};

					scenario_hw_init_normal_on {
						/* HW INIT (without ois power control) */
						30 { pname = "VDDA_2.8V_CAM"; pin = <PIN_REGULATOR 1 0>; gpio;};
					};

					scenario_normal_off {
						40 { pname = "VDDA_2.8V_CAM"; pin = <PIN_REGULATOR 0 0>; gpio;};
					};

					scenario_vision_off {
						40 { pname = "VDDA_2.8V_CAM"; pin = <PIN_REGULATOR 0 0>; gpio;};
					};

					scenario_ois_factory_on {
						80 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 1 0>; }; /* CAMERA_REAR2_AF */
					};

					scenario_ois_factory_off {
						80 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 0 0>; }; /* CAMERA_REAR2_AF */
					};

					scenario_read_rom_on {
						20 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 1 1000>; };
					};

					scenario_read_rom_off {
						20 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 0 1000>; };
					};
				};
			};

			/* Tele CAMERA */
			is_sensor_3m5: is_sensor_3m5@5A {
				mcu {
					product_name = <100>; /* NOTHING */
				};

				power_seq {
					scenario_normal_on {
						10 { pname = "VDDA_2.8V_SUB"; pin = <PIN_REGULATOR 1 0>; gpio;};
						60 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 1 100>; };
					};

					scenario_normal_off {
						50 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 0 0>; };
						80 { pname = "VDDA_2.8V_SUB"; pin = <PIN_REGULATOR 0 0>; gpio;};
					};

					scenario_vision_on {
						10 { pname = "VDDA_2.8V_SUB"; pin = <PIN_REGULATOR 1 0>; gpio;};
						60 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 1 100>; };
					};

					scenario_vision_off {
						50 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 0 0>; };
						70 { pname = "VDDA_2.8V_SUB"; pin = <PIN_REGULATOR 0 0>; gpio;};
					};

					scenario_read_rom_on {
						10 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 1 1000>; };
					};

					scenario_read_rom_off {
						10 { pname = "VDDIO_1.8V_SUB"; pin = <PIN_REGULATOR 0 1000>; };
					};
				};
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */

	fragment@modemif {
		target-path = "/";
		__overlay__ {
			cpif {
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&s5100_ap2cp_cp_pwr_on>,
					<&s5100_ap2cp_cp_nreset_n>,
					<&s5100_cp2ap_cp_ps_hold>,
					<&s5100_ap2cp_wakeup>,
					<&s5100_cp2ap_wakeup>,
					<&s5100_ap2cp_dump_noti>,
					<&s5100_ap2cp_pda_active>,
					<&s5100_cp2ap_phone_active>;
			};
		};
	};
}; /* end of root */

&panel_0 {
	/* reset, power */
	gpios = <&gpa3 4 0x1>;
};

&pinctrl_0 {
	conn_det_ctrl: conn-det-ctrl {
		samsung,pins = "gpa0-0";
		samsung,pin-pud = <0>;
	};
};

&panel_drv_0 {
	pinctrl-0 = <&disp_det_ctrl &disp_te_ctrl &conn_det_ctrl>;
	gpios {
		conn-det {
			name = "conn-det";
			gpios = <&gpa0 0 0>; 		/* 0:NOK(active) 1:OK */
			dir = <1>;  				/* IN */
			irq-type = <0x00002001>;	/* RISING EDGE | ONE_SHOT */
		};
	};
};

&chosen {
	bootargs_ext = "root=/dev/ram0 androidboot.boot_devices=13100000.ufs sec_debug.cp=0";
};

&usi_11 {
	usi_v2_mode = "i2c";
	status = "okay";
};

&usi_16 {
	usi_v2_mode = "spi";
	status = "okay";
};

&usi_03_cmgp {
	usi_v2_mode = "i2c";
	status = "okay";
};

&hsi2c_3 {
	#address-cells = <1>;
	#size-cells = <0>;
	gpios = <&gpp0 6 0 &gpp0 7 0>;
	status = "okay";
	clock-frequency = <1100000>;
	samsung,tscl-h = <0xF0>;
	samsung,tscl-l = <0x7>;
	samsung,reset-before-trans;
	samsung,fast-plus-mode;

	pinctrl-names = "default","on_i2c","off_i2c";
	pinctrl-0 = <&hsi2c3_bus_in>;
	pinctrl-1 = <&hsi2c3_bus>;
	pinctrl-2 = <&hsi2c3_bus_in>;

	is-hm1@10 {
		compatible = "samsung,exynos-is-cis-hm1";
		reg = <0x10>; /* 1 bit right shift */
		id = <0>; /* matching is_sensor id */
		setfile = "default";
		rev_reg = <0x0002 2 0xA101>;
	};
};

&hsi2c_7 {
	max77705@66 {
		max77705,extra_fw_enable = <0>;
	};
};

&hsi2c_13 {
	status = "disabled";
};

&hsi2c_45 {
	rear2_eeprom@51 {
		reg = <0x50>;
	};
};

&pinctrl_1 {
	hsi2c44_bus: hsi2c44-bus {
		samsung,pins = "gpm12-0", "gpm13-0";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&pinctrl_4 {
	/* REAR WIDE */
	hsi2c3_bus_in: hsi2c3-bus-in {
		samsung,pins = "gpp0-6", "gpp0-7";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&pinctrl_5 {
	aux_oe: aux-oe {
		samsung,pins = "gpp6-2";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
		};

	sbu_sel: sbu-sel {
		samsung,pins = "gpp6-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
		};
};

&displayport {
	status = "okay";
	dp,aux_sw_oe = <&gpp6 2 0>;
	dp,sbu_sw_sel = <&gpp6 1 0>;
	dp,usb_con_sel = <&gpm26 0 0>;

	pinctrl-names = "default";
	pinctrl-0 = <&aux_oe &sbu_sel>;
};

&pcie_2 {
	status = "okay";
	chip-ver = <1>;
	use-sysmmu = "false";
	use-cache-coherency = "true";
	use-msi = "true";
	use-pcieon-sleep = "true";
	phy-power-off = "false";
	ep-device-type = <EP_SAMSUNG_MODEM>;
	ep-device-name = "MODEM";
};

&ufs {
	/* board type for UFS CAL */
	evt-ver = /bits/ 8 <1>;
};

&tsp_lsi {
	sec,select_lcdid = <0x810440 0x810450 0x810451 0x810452>;
	sec,firmware_name = "tsp_sec/y79a_c2_6layer.bin", "tsp_sec/y79a_c2_6layer.bin", "tsp_sec/y79a_c2_4layer.bin", "tsp_sec/y79a_c2_4layer.bin";
	/delete-property/ support_vrr;
};

&wacom {
	wacom,fw_path = "epen/w9020_c2_dv1.bin";
	wacom,bringup = <3>;	// force update
	wacom,support_garage_open_test = <0>;

	/* for main spec */
	wacom_elec0 {
		spec_ver = <1 0>; /* major minor */
		max_channel = <25 12>; /* x y */
		shift_value = <4>;

		xx_ref = /bits/ 64 <3911 3943 3391 3391 3398 3466 3599 3672 3651 3734 3750 3757 3693 3785 3937 4021 4032 4068 4053 4046 3943 4032 4264 5179 5199>;
		xy_ref = /bits/ 64 <533 768 574 528 527 513 501 510 510 513 517 516 517 521 525 532 542 515 512 499 495 522 585 884 695>;
		yx_ref = /bits/ 64 <676 904 573 571 545 526 628 585 571 608 887 678>;
		yy_ref = /bits/ 64 <4894 4886 2938 2825 2828 2922 2795 2753 2794 2755 4848 4839>;

		xx_spec = /bits/ 64 <15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000>;
		xy_spec = /bits/ 64 <5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000>;
		yx_spec = /bits/ 64 <5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000>;
		yy_spec = /bits/ 64 <15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000>;

		rxx_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		rxy_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		ryx_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		ryy_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;

		drxx_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		drxy_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		dryx_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		dryy_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
	};

	/* for unit spec */
	wacom_elec1 {
		spec_ver = <1 0>; /* major minor */
		max_channel = <25 12>; /* x y */
		shift_value = <4>;

		xx_ref = /bits/ 64 <3911 3943 3391 3391 3398 3466 3599 3672 3651 3734 3750 3757 3693 3785 3937 4021 4032 4068 4053 4046 3943 4032 4264 5179 5199>;
		xy_ref = /bits/ 64 <533 768 574 528 527 513 501 510 510 513 517 516 517 521 525 532 542 515 512 499 495 522 585 884 695>;
		yx_ref = /bits/ 64 <676 904 573 571 545 526 628 585 571 608 887 678>;
		yy_ref = /bits/ 64 <4894 4886 2938 2825 2828 2922 2795 2753 2794 2755 4848 4839>;

		xx_spec = /bits/ 64 <15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000>;
		xy_spec = /bits/ 64 <5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000>;
		yx_spec = /bits/ 64 <5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000 5000>;
		yy_spec = /bits/ 64 <15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000 15000>;

		rxx_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		rxy_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		ryx_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		ryy_ref = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;

		drxx_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		drxy_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		dryx_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
		dryy_spec = /bits/ 64 <10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000 10000>;
	};
};

&hsi2c_39 { /* 15D10000 */
	#address-cells = <1>;
	#size-cells = <0>;
	gpios = <&gpm2 0 0 &gpm3 0 0>;
	status = "okay";
	clock-frequency = <400000>;

	pinctrl-names = "default";
	pinctrl-0 = <&grip_i2c>;

	sx9360-i2c@28 {
		compatible = "sx9360";
		reg = <0x28>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&grip_irq>;
		interrupt-parent = <&gpa3>;
		interrupts = <0 0 0>;

		sx9360,nirq-gpio = <&gpa3 0 0>;
		sx9360,refresolution_reg = <0x0f>; /* same as resolution_reg */
		sx9360,refagainfreq_reg = <0x36>; /* same as againfreq_reg */
		sx9360,resolution_reg = <0x0f>; /* resolution : 1024 */
		sx9360,againfreq_reg = <0x31>; /* freq : 200 kHz, again : +/-5.25 pF */
		sx9360,refgainrawfilt_reg = <0x22>; /* same as gainrawfilt_reg */
		sx9360,gainrawfilt_reg = <0x22>; /* rawfilter : 1-1/4, gain : x8 */
		sx9360,hyst_reg = <0x15>; /* hysteresis : +/-6 %, debouncer : 2 samples */
		sx9360,proxthresh_reg = <0x3E>; /* threshhold : 1922 */
		sx9360,hallic_cert_detect = <1>;
	};
};

&spi_14 {
	BCM4773@0 {
		ssp-acc-position = <7>;
		ssp-mag-position = <4>;
		ssp-mag-array = /bits/ 8 <239 84 91 119 234 27 249 175 213 52 239 162 60 172 2 188 249 233 26 83 187 254 100 43 4 13 127>;
		ssp-thermi-up = /bits/ 16 <3244 3216 3177 3127 3063 2987 2893 2785 2663 2522 2364 2191 2019 1841 1664 1492 1325 1165 1024 894 772 658 579>;
		ssp-thermi-sub = /bits/ 16 <4095 4095 4095 4026 3810 3566 3300 3013 2725 2438 2142 1871 1626 1402 1202 1030 874 744 631 535 453 385 331>;
	};
};

/* ----------------------------------------------------------------------------
 * Configurations for GPIOs without Device Driver
 * Note: Do NOT add pins using by device drivers to the configuration below
 * ----------------------------------------------------------------------------
 */
/*
 * pin banks of exynos9830 pin-controller 0 (ALIVE) : pinctrl@15850000
 * GPA0, GPA1, GPA2, GPA3, GPA4
 * GPQ0
 */
&pinctrl_0 {
	pinctrl-names = "default";
	pinctrl-0 = <&initial0>;
	initial0: initial-state {
		PIN_IN(gpa2-1, NONE);			/* HALL_INT3 */
		PIN_IN(gpq0-6, DOWN);			/* XSPEEDY_DCXO */
	};
};

/*
 * pin banks of exynos9830 pin-controller 2 (HSI1) : pinctrl@13040000
 * GPF0, GPF1, GPF2
 */
&pinctrl_2 {
        pinctrl-names = "default";
        pinctrl-0 = <&initial2>;
        initial2: initial-state {
                PIN_IN_SLP(gpf0-2, NONE, INPUT, NONE);	/* MASTER_VER_1_AP */
                PIN_IN_SLP(gpf0-3, NONE, INPUT, NONE);	/* MASTER_VER_2_AP */
                PIN_IN_SLP(gpf2-2, NONE, INPUT, NONE);	/* SLAVE_CHK_2 */
        };
};

/*
 * pin banks of exynos9830 pin-controller 4 (PERIC0) : pinctrl@10430000
 * GPP0, GPP1, GPP2, GPP3, GPP4
 * GPG0
 */
&pinctrl_4 {
	pinctrl-names = "default";
	pinctrl-0 = <&initial4>;
	initial4: initial-state {
		PIN_IN_SLP(gpp2-4, NONE, INPUT, NONE);
		PIN_IN_SLP(gpp2-5, NONE, INPUT, NONE);	/* SUB_VER_2 */
	};
};

/*
 * pin banks of exynos9830 pin-controller 5 (PERIC1) : pinctrl@10730000
 * GPP5, GPP6, GPP7, GPP8, GPP9
 * GPC0
 * GPG1
 * GPB0, GPB1, GPB2
 */
&pinctrl_5 {
	pinctrl-names = "default";
	pinctrl-0 = <&initial5>;
	initial5: initial-state {
		PIN_IN_SLP(gpp5-0, NONE, INPUT, NONE);	/* MEM_SCL_1P8 */
		PIN_IN_SLP(gpp5-1, NONE, INPUT, NONE);	/* MEM_SDA_1P8 */
		PIN_IN_SLP(gpp5-5, NONE, INPUT, NONE);	/* HW_REV_M */
		PIN_IN_SLP(gpb0-0, NONE, INPUT, NONE);	/* INTERPOSER_DET_R_2 */
		PIN_IN_SLP(gpb0-1, NONE, INPUT, NONE);	/* INTERPOSER_DET_R_1 */
		PIN_IN_SLP(gpb0-2, NONE, INPUT, NONE);	/* INTERPOSER_DET_L_1 */
		PIN_IN_SLP(gpb0-3, NONE, INPUT, NONE);	/* INTERPOSER_DET_L_2 */
		PIN_IN_SLP(gpb2-7, NONE, INPUT, NONE);	/* SLAVE_CHK_1 */
	};
};

&mipi_phy_csis0_m0s4s4s4s4s4s2 {
	ldo0;
	ldo1;
};

&mipi_phy_csis1_m0s4s4s4s4s4s2 {
	ldo0;
	ldo1;
};

&mipi_phy_csis2_m0s4s4s4s4s4s2 {
	ldo0;
	ldo1;
};

&mipi_phy_csis3_m0s4s4s4s4s4s2 {
	ldo0;
	ldo1;
};

&mipi_phy_csis4_m0s4s4s4s4s4s2 {
	ldo0;
	ldo1;
};

&mipi_phy_csis5_m0s4s4s4s4s4s2 {
	ldo0;
	ldo1;
};

&dwmmc_2 {
	status = "okay";
};

&exynos_is {
	vender {
		ois_gyro_list = <0x00 0x01 0x01 0x01 0x00>;
	};
};
