/*
 * SAMSUNG EXYNOS990 board device tree source
 *
 * Copyright (c) 2019 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/plugin/;
#include "exynos9830-y2s_pm_00.dtsi"
#include "exynos990-y2s_common.dtsi"
#include "exynos9830-picasso_nfc_03.dtsi"
#include "../exynos/exynos9830-universal9830-cp-s5123-sipc.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include "exynos9830-sensorhub_03.dtsi"
#include "battery_data_hubbley2_00.dtsi"

#define BOARD_ID	0x10
#define BOARD_REV	0x0

/ {
	compatible = "samsung,Y2S EUR OPEN 04", "samsung,EXYNOS990";
	dtbo-hw_rev = <4>;
	dtbo-hw_rev_end = <4>;
	edtbo-rev = <0>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "Samsung Y2S EUR OPEN 04 based on EXYNOS990";

			acpm_ipc {
				compatible = "samsung,exynos-acpm-ipc";
				board-id = <BOARD_ID>;
				board-rev = <BOARD_REV>;
			};

			pinctrl@15850000 {
				bt_hostwake: bt-hostwake {
					samsung,pins = "gpa2-3";
					samsung,pin-function = <0xF>;
					samsung,pin-pud = <1>;
				};
			};

			pinctrl@10730000 {
				bt_btwake: bt-btwake {
					samsung,pins = "gpg1-1";
					samsung,pin-function = <1>;
					samsung,pin-pud = <0>;
					samsung,pin-con-pdn = <3>;
					samsung,pin-pud-pdn = <0>;
				};
			};

			pinctrl@15C30000 {
				bt_en: bt-en {
					samsung,pins = "gpm16-0";
					samsung,pin-function = <1>;
					samsung,pin-pud = <0>;
					samsung,pin-con-pdn = <3>;
					samsung,pin-pud-pdn = <0>;
				};
			};

			bluetooth {
				compatible = "samsung,bcm43xx";
				gpios = <&gpm16 0 GPIO_ACTIVE_HIGH    /*BT_EN*/
				&gpg1 1 GPIO_ACTIVE_HIGH    /*BT_WAKE*/
				&gpa2 3 GPIO_ACTIVE_HIGH    /*BT_HOST_WAKE*/ >;
				pinctrl-names = "default";
				pinctrl-0=<&bt_en &bt_hostwake &bt_btwake>;
				status = "okay";
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&panel_0 {
	/* reset, power */
	gpios = <&gpa3 4 0x1>;
};

&chosen {
	bootargs_ext = "root=/dev/ram0 androidboot.boot_devices=13100000.ufs";
};

&usi_11 {
	usi_v2_mode = "i2c";
	status = "okay";
};

&usi_16 {
	usi_v2_mode = "spi";
	status = "okay";
};

&usi_03_cmgp {
	usi_v2_mode = "i2c";
	status = "okay";
};

&pinctrl_1 {
	expander_reset_active: expander-reset-active {
	       samsung,pins = "gpm21-0";
	       samsung,pin-function = <1>;
	       samsung,pin-pud = <0>;
	       samsung,pin-val = <1>;
       };
};

&hsi2c_7 {
	max77705@66 {
		max77705,extra_fw_enable = <1>;
	};
};

&hsi2c_26 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	expander_gpios: pcal6524@22 {
		compatible = "nxp,pcal6524";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
		pinctrl-names = "default";
		pinctrl-0 = <&expander_reset_active>;
		reset-gpios = <&gpm21 0 GPIO_ACTIVE_LOW>;
	};
};

&hsi2c_31 {
	cs35l41@40 {
		pinctrl-names;
		reset-gpios = <&expander_gpios 19 0>;
	};

	cs35l41@41 {
		pinctrl-names;
		reset-gpios = <&expander_gpios 18 0>;
	};
};

&pinctrl_1 {
	hsi2c44_bus: hsi2c44-bus {
		samsung,pins = "gpm12-0", "gpm13-0";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&pinctrl_5 {
	aux_oe: aux-oe {
		samsung,pins = "gpp6-2";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
		};

	sbu_sel: sbu-sel {
		samsung,pins = "gpp6-1";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
		};
};

&displayport {
	status = "okay";
	dp,aux_sw_oe = <&gpp6 2 0>;
	dp,sbu_sw_sel = <&gpp6 1 0>;
	dp,usb_con_sel = <&gpm26 0 0>;

	pinctrl-names = "default";
	pinctrl-0 = <&aux_oe &sbu_sel>;
};

&pcie_2 {
	status = "okay";
	chip-ver = <1>;
	use-sysmmu = "false";
	use-cache-coherency = "true";
	use-msi = "true";
	use-pcieon-sleep = "true";
	phy-power-off = "false";
	ep-device-type = <EP_SAMSUNG_MODEM>;
	ep-device-name = "MODEM";
};

&ufs {
	/* board type for UFS CAL */
	evt-ver = /bits/ 8 <1>;
};

&hsi2c_15 {
	touchscreen@48 {
		sec,bringup = <1>;
	};
};

&exynos_is {
	vender {
		ois_gyro_list = <0x01 0x00 0x00 0x00 0x01>;
	};
};
