/*
 * SAMSUNG EXYNOS9830 input device tree source
 *
 * Copyright (c) 2019 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/ {

	fragment@model {
		target-path = "/";
		__overlay__ {
			gpio_keys {
				status = "okay";
				compatible = "gpio-keys";
				pinctrl-names = "default";
				pinctrl-0 = <&key_voldown &key_volup &key_power>;

				button@2 {
					label = "gpio-keys: KEY_VOLUMEDOWN";
					linux,code = <114>;
					gpios = <&gpa0 4 0xf>;
				};
				button@3 {
					label = "gpio-keys: KEY_VOLUMEUP";
					linux,code = <115>;
					gpios = <&gpa0 3 0xf>;
				};
				button@4 {
					label = "gpio-keys: KEY_POWER";
					linux,code = <116>;
					gpios = <&gpa2 4 0xf>;
					gpio-key,wakeup = <1>;
				};
			};

			tsp_ldo_en: tsp_ldo_en {
				compatible = "regulator-fixed";
				regulator-name = "tsp_ldo_en";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				gpio = <&gpm21 0 0>;
				enable-active-high;
				regulator-boot-on;
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&pinctrl_0 {
	key_voldown: key-voldown {
		samsung,pins = "gpa0-4";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	key_volup: key-volup {
		samsung,pins = "gpa0-3";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	key_power: key-power {
		samsung,pins = "gpa2-4";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	attn_irq: attn-irq {
		samsung,pins = "gpa1-0";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	attn_input: attn-input {
		samsung,pins = "gpa1-0";
		samsung,pin-function = <0>;
		samsung,pin-pud = <1>;
	};
};

&pinctrl_5 {
	tspi2c_bus: tspi2c-bus {
		samsung,pins = "gpp5-6", "gpp5-7";
		samsung,pin-function = <3>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
		samsung,pin-con-pdn = <3>;
		samsung,pin-pud-pdn = <0>;
	};
};

&hsi2c_15 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&tspi2c_bus>;
	status = "okay";
	touchscreen@20 {
		status = "ok";
		compatible = "zinitix,zt_ts_device";
		reg = <0x20>;
		pinctrl-names = "on_state", "off_state";
		pinctrl-0 = <&attn_irq>;
		pinctrl-1 = <&attn_irq>;
		zinitix,gpio_ldo_en;
		zinitix,regulator_avdd = "tsp_ldo_en";
		zinitix,irq_type = <0x2008>;
		zinitix,x_resolution = <1080>;
		zinitix,y_resolution = <2400>;
		zinitix,page_size = <128>;
		zinitix,irq_gpio = <&gpa1 0 0>;

		/* This part is for firmware */
		zinitix,chip_name = "ZT7650";
		zinitix,firmware_name = "tsp_zinitix/zt7650_r8.bin";

		/* feature */
		zinitix,spay;
		zinitix,aod;
		zinitix,aot;
		zinitix,mis_cal_check;
		support_ear_detect_mode;
		support_dex_mode;
		support_open_short_test;

		/* calibration */
		zinitix,tclm_level = <2>;
		zinitix,afe_base = <0x0018>;
		//zinitix,bringup = <1>;
	};

	tsp_stm: touchscreen@49 {
		status = "ok";
		compatible = "stm,fts_touch";
		reg = <0x49>;
		pinctrl-names = "on_state", "off_state";
		pinctrl-0 = <&attn_irq>;
		pinctrl-1 = <&attn_irq>;
		/* dvdd-supply = <&pm6150_l10>; */
		avdd-supply = <&tsp_ldo_en>;
		stm,irq_gpio = <&gpa1 0 0>;
		stm,max_coords = <4095 4095>;
		stm,firmware_name = "tsp_stm/fts5cu56a_r8.bin";
		stm,tclm_level = <2>;
		stm,afe_base = <0x5>;
		stm,bringup = <0>;
		stm,support_fod;
		stm,enable_settings_aot;
		support_ear_detect;
		support_mis_calibration_test;
		support_dex_mode;
		support_open_short_test;
		support_sram_test;
//		support_hall_ic;
//		support_flex_mode;
//		stm,hw_i2c_reset;
	};
};

